/*
* 公用
*/
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 50px;
  color: #333;
}

@media (max-width: 768px) {
  html {
    font-size: 100px;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 42.6667px;
  }
}

body {
  font-family: inherit;
  line-height: 0.42rem;
  font-size: 0.3rem;
  color: #333;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
}

input,
button {
  margin: 0;
  padding: 0;
}

i,
cite {
  font-style: normal;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

/* 排版 */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* 头部 */
.mui-bar-nav {
  padding: 0 0.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  background: #fff;
  border-bottom: 1px solid #efefef;
  box-shadow: none;
}

.mui-bar-nav .mui-title {
  left: 1.5rem;
  right: 1.5rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
}

.mui-bar-nav .mui-btn-link.mui-pull-left {
  margin-left: -0.1rem;
  margin-right: 0.2rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
}

.mui-bar-nav .mui-btn-nav.mui-pull-left .mui-icon-left-nav {
  margin-right: -0.06rem;
  font-size: 0.48rem;
}

.mui-bar-nav .mui-btn-link.mui-pull-right {
  margin-right: 0;
  margin-left: 0.2rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
}

.mui-bar-nav .mui-btn-nav.mui-pull-right .mui-icon-bars {
  margin: 0;
  font-size: 0.48rem;
}

.mui-bar-nav .mui-btn-link .mui-icon {
  color: inherit;
  opacity: 1 !important;
}

.mui-bar-nav ~ .mui-content {
  padding-top: 0.88rem;
}

.mui-bar-footer {
  padding: 0;
  height: 1rem;
  background: #fff;
  box-shadow: none;
}

.mui-bar-footer ~ .mui-content {
  padding-bottom: 1rem;
}

body,
.mui-content {
  background: #ffffff;
}

/* 底部选项卡 */
.mui-bar-tab {
  display: flex;
  height: 0.9rem;
  border-top: none;
  box-shadow: none;
}

.mui-bar-tab a {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  font-size: 0.32rem;
  background: #e7e7e7;
  color: #373636;
}

.mui-bar-tab a:active,
.mui-bar-tab a:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;
}

.mui-bar-tab ~ .mui-content {
  padding-bottom: 0.9rem;
}

/* 下拉刷新 */
.mui-bar-nav ~ .mui-content .mui-pull-top-pocket {
  top: 0.88rem;
}

.mui-pull-top-pocket {
  height: 1rem;
}

.mui-pull {
  bottom: 0.2rem;
}

.mui-pull .mui-icon {
  margin-right: 0.2rem;
  font-size: 0.48rem;
}

.mui-pull-caption {
  font-size: 0.3rem;
  line-height: 0.48rem;
}
