/*
* 公共布局
*/
html,
body {
    height: 100%;
}

i,
cite {
    font-style: normal;
}

.loading-success {
    display: block !important;
}

.layout-container {
    display: none;
    position: relative;
    height: 100%;
    min-height: 10.79rem;
    background: url('../img/layout-bg.png') no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
}

.layout-header {
    position: relative;
    height: 0.8rem;

    .header-title {
        margin: 0 auto;
        display: block;
        width: 5.74rem;
        height: 0.8rem;
        font-size: 0;
        background: url('../img/header-title.png') no-repeat left top;
        background-size: 100% 100%;
    }

    .header-date {
        position: absolute;
        top: 0;
        right: 0.3rem;
        line-height: 0.42rem;
        font-family: Helvetica;
        font-size: 0.14rem;
        color: #fff;
    }
}

.layout-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.28rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .flex-left {
        margin-left: 0.3rem;
        flex-basis: 4.68rem;
    }

    .flex-mid {
        margin: 0 0.33rem;
        flex-basis: 8.58rem;
    }

    .flex-right {
        margin-right: 0.3rem;
        flex-basis: 4.68rem;
    }
}